body {
  font-family: "Times New Roman", Times, serif;
}
header {
  background-color: rgb(202, 68, 19);
  color: white;
  padding: 10px;
  margin: 0;
  overflow: hidden;
}
header h1 {
  padding: 0;
  margin: 0;
  font-size: 2.2em;
}
header h2 {
  padding: 0;
  margin: 0;
  font-size: 1.2em;
}
header img {
  height: 75px;
  width: 75px;
  float: left;
  margin-right: 10px;
  border-radius: 50%;
}
section h2 {
  margin: 5px 0 0 0;
  color: rgb(202, 68, 19);
  font-size: 1.8em;
}

section img {
  width: 400px;
  height: 200px;
  float: right;
  margin: 10px;
  box-shadow: 2px 2px 2px 1px;
}
nav ul {
  list-style-type: none;
  background-color: hsl(16, 97%, 66%);
  margin: 0;
  padding: 0;
  overflow: hidden;
}
nav li {
  float: left;
}
nav li a {
  text-decoration: none;
  padding: 10px 25px;
  display: block;
  color: black;
  font-family: "Times New Roman", Times, serif;
  font-size: 1.5em;
}
nav li a:hover {
  background-color: rgb(86, 113, 165);
}
section {
  padding: 0 10px;
  border: 3px solid rgb(202, 68, 19);
}
footer {
  background-color: rgb(202, 68, 19);
  color: white;
  padding: 10px;
  margin: 0px;
  text-align: center;
  font-size: 1em;
}
p {
  font-family: "Times New Roman", Times, serif;
  font-size: 1.1em;
}

/*cookingrecipe style*/
.cookingrecipe {
  width: 400px;
  height: 200px;
  margin-bottom: 20px;
  overflow: hidden;
  float:left;
}
aside {
  background-color: lightgray;
  font-size: 1em;
  width: 28%;
}
section ul{
      overflow: hidden;
      margin: 0px;
}
