body {
  font-family: "Times New Roman", Times, serif;
}
header {
  background-color: rgb(202, 68, 19);
  color: white;
  padding: 10px;
  margin: 0;
  overflow: hidden;
}
header h1 {
  padding: 0;
  margin: 0;
  font-size: 2.2em;
}
header h2 {
  padding: 0;
  margin: 0;
  font-size: 1.2em;
}
header img {
  height: 75px;
  width: 75px;
  float: left;
  margin-right: 10px;
  border-radius: 50%;
}
section h2 {
  margin: 5px 0 0 0;
  color: rgb(202, 68, 19);
  font-size: 1.8em;
}

.parimg {
  width: 400px;
  height: 200px;
  float: right;
  margin: 10px;
  box-shadow: 2px 2px 2px 1px;
}
nav ul {
  list-style-type: none;
  background-color: hsl(16, 97%, 66%);
  margin: 0;
  padding: 0;
  overflow: hidden;
}
nav li {
  float: left;
}
nav li a {
  text-decoration: none;
  padding: 10px 25px;
  display: block;
  color: black;
  font-family: "Times New Roman", Times, serif;
  font-size: 1.5em;
}
nav li a:hover {
  background-color: rgb(86, 113, 165);
}
section {
  padding: 0 10px;
  border: 3px solid rgb(202, 68, 19);
}
footer {
  background-color: rgb(202, 68, 19);
  color: white;
  padding: 10px;
  margin: 0px;
  text-align: center;
  font-size: 1em;
}
p {
  font-family: "Times New Roman", Times, serif;
  font-size: 1.1em;
}

/*cookingrecipe style*/
.recipeslist {
  margin-top: 2em;
  margin-left: 2em;
  max-width: 1500px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  font-family: sans-serif;
}

.recipe-img {
  width: 400px;
  height: 200px;
  overflow: hidden;
}
.recipe-link {
  text-decoration: none;
  text-align: center;
}
.recipes h2 {
  margin: 5px 0 0 0;
  color: rgb(202, 68, 19);
  font-size: 1.5em;
  text-align: center;
  margin-right: 3em;
}
.recipes p {
  font-size: 1em;
}

/*Movie Summary Styles*/
.movie-list {
  margin-top: 2em;
  margin-left: 2em;
  max-width: 1500px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  font-family: sans-serif;
}
.checked {
  color: orange;
}
.rating-chk {
  padding-left: 50px;
}
.movie-img {
  width: 300px;
  height: 200px;
  overflow: hidden;
}

/* CarListings Styles*/

.car-container {
  display: flex;
  justify-content: center;
}
.car-image {
  height: 180px;
  padding-top: 25px;
  background-size: cover;
  border-radius: 15px 15px 0 0;
}
.car-card {
  background-color: hsl(16, 97%, 66%);

  margin: 10px;
  border-radius: 20px;
}
.car-1 {
  background-image: url(../images/cars/ferrari.jpeg);
}
.car-2 {
  background-image: url(../images/cars/nissanpathfinder.jpg);
}
.car-3 {
  background-image: url(../images/cars/tesla.jpeg);
}
.car-4 {
  background-image: url(../images/cars/toyatohighlander.jpeg);
}
.car-container h1 {
  font-size: 2em;
  font-family: "Times New Roman", Times, serif;
  color: aquamarine;
  margin-top: 20px;
  text-align: center;
}
.car-container p {
  margin: 10px;
  font-family: "Times New Roman", Times, serif;
  font-size: 25px;
  color:black;
}
